
.DS_Store
.vscode/launch.json
.ipynb_checkpoints/extractingData-checkpoint.ipynb
.ipynb_checkpoints/extractingData-Copy1-checkpoint.ipynb
.ipynb_checkpoints/extractingData_-checkpoint.ipynb
app/.DS_Store
app/.DS_Store
app/.DS_Store
app/.DS_Store
app/__pycache__/__init__.cpython-39.pyc
app/.DS_Store
app/templates/.DS_Store
