{% extends 'base.html' %}

{% block content %}
  <div class="">
    <div class="">
      <h2>Project Description</h2>
      <div class="box">
        <!-- <p class="">
          Water availability is vital to human communities as well as the environment. 
          Specifically, water availability greatly affects biodiversity around the world. 
          Reports have shown that human-cause warming can be attributed to drought conditions 
          (<a href="https://www.nature.com/articles/nclimate2067#citeas" target="_blank">2014, Nature Clim Change</a>).
        </p>

        <p>
          This website will provide information and analysis specifically on the effect of drought in California on plant grouwth. 
          California experiences limited rainfall each year and rising temperatures, resulting in mainly dry seasons and lasting consequences. 
          This leads to <a href="https://en.wikipedia.org/wiki/Droughts_in_California" target="_blank">less water availability</a> in the environment, 
          such as native and non-native plants.
        <p> -->
      </div>
    </div>
  </div>


  <h2>Data</h2>
  <div class="box">
    <p></p>
  </div>



{% endblock %}

