{% extends 'base.html' %}

{% block title %}Average Flowering Day of Year by Species - {% endblock %}

{% block content %}

<h1>Average Flowering Day of Year by Species</h1>
<hr>
<div class="box">
  {% include 'avgDOYplot.html' %}

  <table>
    <form method="POST" enctype="multipart/form-data">

        <td>
          <option value="start_year" method="POST">Start Year</option>
            <input type="number" id="start_year" name="start_year" min="2000" max="2020" value = 2000>
          <option value="end_year" method="POST">End Year</option>
            <input type="number" id="end_year" name="end_year" min="2000" max="2020" value = 2020>
        </td>

        <td>
          <label for="plant_type">Select Type of Species: </label>
          <select name= 'plant_type' method="POST">

            <option value="">All Plants</option>
            <option value="yes">Native</option>
            <option value="no">Non-Native</option>

          </select>
        </td>

        <td>
          <label for="_div">Select California Division: </label>
          <select name= '_div' method="POST">
  
            <option value="">All</option>
            <option value="1">CA01</option>
            <option value="2">CA02</option>
            <option value="3">CA03</option>
            <option value="4">CA04</option>
            <option value="5">CA05</option>
            <option value="6">CA06</option>
            <option value="7">CA07</option>
  
          </select>
        </td>

        <td>
          <label for="tline">Trendline:</label>
          <select name= 'tline' method="POST">

            <option value="">None</option>
            <option value="ols">Linear Regression</option>
            <option value="lowess">Local regression</option>

          </select>
        </td>

        <td>
          <input type="submit" value="Submit">
        </td>
      </form>
  </table>
</div>
<p>
  The average flowering day of year can have many implications between the community, 
  the weather patterns, and espescially the individual itself. 
  In the meantime, you can see for yourself which flowering dates are trending in particular ways. 
</p>
<hr>
{% endblock %}
