<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<title>{% block title %}{% endblock %}PIC16B Final Project</title> 

<script src="jquery.js"></script> 
<script> 
  $(function(){
    $("graff").load("Year vs Average Temperature of Climate Division CA0.html"); 
  });
  </script>
  
  <div class="navbar" class="headings">
    <a href="{{ url_for('main')}}">About</a>
    | 
    <a href="{{ url_for('plantDistribution')}}">Plant Distribution of California</a>
    | 
    <a href="{{ url_for('avgFlowering')}}">Average Flowering Day of Year</a>
    | 
    <a href="{{ url_for('climate_plots') }}">Climate Visualizations</a>
    | 
    <a href="{{ url_for('species') }}">Species</a>
  </div>


<section class="content">
  {% block content %}{% endblock %}
</section>

<br><br>
<!-- Footer -->
<footer>  
  <a href="https://github.com/ianmorris13/weathervsphenology"><img src = "{{ url_for('static', filename='github.png') }}" alt="Github Logo" width="30" height="30"></a>
</footer>

