<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<title>{% block title %}{% endblock %}PIC16B Final Project</title> 

<!-- plots -->
<!-- <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script> -->

<script src="jquery.js"></script> 
<script> 
  $(function(){
    $("graff").load("Year vs Average Temperature of Climate Division CA0.html"); 
  });
  </script>
  
{% block header %}
<h1 class=""></h1>
{% endblock %}


  <div class="navbar">
    <a href="{{ url_for('main')}}" class="">Home</a>
     | 
    <a href="{{ url_for('plantDistribution')}}" class="">Plant Distribution of California</a>
     | 
    <a href="{{ url_for('avgFlowering')}}" class="">Average Flowering Day of Year</a>
     | 
    <a href="{{ url_for('climate_plots') }}" class="">Climate Visualizations</a>
    | 
   <a href="{{ url_for('species') }}" class="">Species</a>
  </div>


<section class="content">
  {% block content %}{% endblock %}
</section>

<br><br>
<!-- Footer -->
<footer>  
  <a href="https://github.com/ianmorris13/weathervsphenology"><img src = "{{ url_for('static', filename='github.png') }}" alt="Github Logo" width="30" height="30"></a>
</footer>

