{% extends 'base.html' %}

<title>{% block title %}Climate Data Visualizations{% endblock %}</title> 

{% block content %}

<h1>20 Year Average Temperature and Average Total Monthly Precipitation of California</h1>
<hr>
<div class="box">
  {% include "avgTempPlot.html" %}
  <br><br>
  {% include "avgRainPlot.html" %}
  <br><br>
  <table>
    <form method="POST" enctype="multipart/form-data">
      <td>
        <label for="_div">Select California Division: </label>
        <select name= '_div' method="POST">

          <option value="">All</option>
          <option value="1">CA01</option>
          <option value="2">CA02</option>
          <option value="3">CA03</option>
          <option value="4">CA04</option>
          <option value="5">CA05</option>
          <option value="6">CA06</option>
          <option value="7">CA07</option>

        </select>
      </td>
      
      <td>
        <input type="submit" value="Submit">
      </td>
    </form>
  </table>

</div>
<p>
  Californian weather patterns have been increasingly extreme, especially in terms of climate hazards.
  <br>
  Above you can see the average temperatures and average montly precipitation plotted over the past 20 years.
</p>
<hr>
{% endblock %}
