{% extends 'base.html' %}
{% block title %}Plant Species throughout California - {% endblock %}


{% block content %}

<h1>Distribution of {{nativeInfo}} Plant Species in CA{{div}} from {{startYear}} - {{endYear}}</h1>
<hr>
<div id ='map'>
  {% include 'distributionPlot.html' %}
</div>
<div class="box">
  <br>
  <table>
    <form method="POST" enctype="multipart/form-data">

      <td>
        <option value="start_year" method="POST">Start Year</option>
          <input type="number" id="start_year" name="start_year" min="2000" max="2020" value = 2000>

        <option value="end_year" method="POST">End Year</option>
          <input type="number" id="end_year" name="end_year" min="2000" max="2020" value = 2020>
      </td>

      <td>
        <label for="plant_type">Select Type of Species: </label>
        <select name= 'plant_type' method="POST">

          <option value="">All</option>
          <option value="yes">Native</option>
          <option value="no">Non-Native</option>

        </select>
      </td>

      <td>
        <label for="_div">Select California Division: </label>
        <select name= '_div' method="POST">

          <option value="">All</option>
          <option value="1">CA01</option>
          <option value="2">CA02</option>
          <option value="3">CA03</option>
          <option value="4">CA04</option>
          <option value="5">CA05</option>
          <option value="6">CA06</option>
          <option value="7">CA07</option>

        </select>
      </td>
      
      <td>
        <input type="submit" value="Submit">
      </td>
    </form>
  </table>
</div>
<p>
  Here is a simple map of California with every single observation from our data set plotted over it.
  <br>
  You may select the specifics of which plant you would like to see in the table above.
</p>
<hr>
{% endblock %}
